*{
    font-family: 'georgia','Argent CF','Times New Roman', Times, serif;
    line-height: normal;
}

#container1{
    width: 600px;
    display: flex;
    justify-content: space-around;
}

#container2{
    display: flex;
    flex-direction: row;
}

#container3{
    padding-left: 50px;
    display: flex;
    flex-direction: column;
}


/* outer image */
#image{
    height: 250px;
    width: 200px;
    background-color: #BDE0FE;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* inner image */
#myimage{
    height: 200px;
    border-color: #BDE0FE;
    border-radius: 10px;
}

/* home page: */
body{
    background-color: #FFAFCC;
    color: black;
}

#heading{
    display: inline-block;
    height: 100px;
    width: 300px;
    /* background-color: #BDE0FE; */
    text-align: left;
}

#aboutme{
    display: inline-block;
    height: 450px;
    width: 650px;
    /* background-color: #BDE0FE; */
}

#link1{
    height: 200px;
    width: 300px;
    /* background-color: #BDE0FE; */
    text-decoration: none;
    display: inline;
}

#link2{
    height: 200px;
    width: 300px;
    /* background-color: #BDE0FE; */
    text-decoration: none;
    display: inline;
}

#contactme{
    height: 150px;
    width: 700px;
    /* background-color: #BDE0FE; */
}







/* academic details: */

table{
    border-collapse: collapse;
    width: 75em;
    height: 25em;
    background-color: #BDE0FE;
    border-radius: 10px;
    margin: 100px auto;
    font-family: 'georgia','Argent CF','Times New Roman', Times, serif;
}

table thead tr th{
    border-bottom: 1px solid black;
    color: black;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 15px;
    background-blend-mode: soft-light;
}

table tbody tr td{
    border-bottom: 1px solid black;
    color: black;
    font-size: 16px;
    text-align: center;
}

/* certifications: */

.certificate1{
    background-color: #BDE0FE;
    /* text-decoration: none; */
}

.certificate2{
    background-color: #BDE0FE;
    /* text-decoration: none; */
}