*{
    font-family: 'georgia','Argent CF','Times New Roman', Times, serif;
    line-height: normal;
}


/* home page: */
body{
    background-color: #FFAFCC;
    color: black;
}

img{
    background-color: #BDE0FE;
}

#heading{
    display: inline-block;
    height: 100px;
    width: 300px;
    background-color: #BDE0FE;
    text-align: left;
}

#aboutme{
    display: inline-block;
    height: 450px;
    width: 700px;
    background-color: #BDE0FE;
}

#link1{
    height: 200px;
    width: 300px;
    background-color: #BDE0FE;
    text-decoration: none;
    display: inline;
}

#link2{
    height: 200px;
    width: 300px;
    background-color: #BDE0FE;
    text-decoration: none;
    display: inline;
}

#contactme{
    height: 150px;
    width: 700px;
    background-color: #BDE0FE;
}


/* academic details: */

table{
    border-collapse: collapse;
    width: 75em;
    height: 25em;
    background-color: #BDE0FE;
    border-radius: 10px;
    margin: 100px auto;
    font-family: 'georgia','Argent CF','Times New Roman', Times, serif;
}

table thead tr th{
    border-bottom: 1px solid black;
    color: black;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 15px;
    background-blend-mode: soft-light;
}

table tbody tr td{
    border-bottom: 1px solid black;
    color: black;
    font-size: 16px;
    text-align: center;
}